/**********/
/** SASS **/
/**********/

$primary: #222831;
$lightPrimary: #393e46;
$links: #00adb5;
$primaryGradient: linear-gradient(160deg, $primary 36%, $lightPrimary 100%);
$disabled: #dddddd;

/** SIZES **/

$sizeXS: 2vw;
$sizeS: 3vw;
$sizeM: 5vw;
$sizeL: 8vw;
$sizeXL: 10vw;

/** POSITIONING **/

$radiusS: 7px;
$radiusM: 10px;

$fastest: 50ms;
$faster: 100ms;
$fast: 200ms;
$slow: 300ms;
$slower: 400ms;

/********************/
/** SEMANTIC RULES **/
/********************/

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  text-align: center;
}

header {
  align-items: center;
  background-image: $primaryGradient;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

section {
  align-items: center;
  background-color: $primary;
  color: white;
  height: 96vh;
  justify-content: center;
  padding: 3rem;
  position: relative;
}

footer {
  align-items: center;
  background-color: $lightPrimary;
  border-top: 1px solid $primary;
  color: white;
  display: flex;
  justify-content: center;
  height: 4vh;
  text-align: center;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out $faster;
}
a:hover {
  text-decoration: none;
}

table {
  font-weight: bold;
}
th {
  text-align: center;
}
td {
  border: 1px solid white;
  text-align: center;
  padding: 1rem;
}

hr {
  border: 1px solid $lightPrimary;
}

button {
  background-color: $primary;
  border: none;
  border-radius: $radiusS;
  color: white;
  transition: ease-in-out $faster;
  padding: 0.75rem 1rem;
}
button:hover {
  background-color: white;
  color: $lightPrimary;
}
input {
  border-radius: $radiusS;
  text-align: center;
}

/*******************/
/** NORMALIZATION **/
/*******************/

// Override of the bootstrap rule
label {
  margin-bottom: 0;
}

caption {
  width: max-content;
}

input, button:focus {
  outline: none;
}

.row {
  margin: 0;
}

/** COLORS **/

.primary {
  color: $primary;
}
.lightPrimary {
  color: $lightPrimary;
}

.black {
  color: black;
}
.white {
  color: white;
}
.red {
  color: red;
}
.green {
  color: green;
}

.bgPrimary {
  background-color: $primary;
}
.bgLightPrimary {
  background-color: $lightPrimary;
}

.bgGreen {
  background-color: green;
}
.bgRed {
  background-color: red;
}

/** BORDERS **/

.border {
  border: 1px solid white;
}

/** SHADOWS **/

// .shadowXS {
//   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// }
// .shadowS {
//   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// }
// .shadowM {
//   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
// }
// .shadowL {
//   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }
// .shadowXL {
//   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
// }
.shadowXS:hover,
.shadowS:hover,
.shadowM:hover,
.shadowL:hover,
.shadowXL:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/** SIZES **/

.widthXS {
  width: 10vw;
}
.widthS {
  width: 25vw;
}
.widthM {
  width: 50vw;
}
.widthL {
  width: 75vw;
}
.maxWidth {
  width: 100vw;
}
.maxHeight {
  height: 100vh;
}

.fontS {
  font-size: smaller;
}
.fontL {
  font-size: larger;
}
.adaptiveSize {
  font-size: $sizeXS;
}

/** POSITIONING **/

.expand {
  height: 100%;
  width: 100%;
}

.top {
  padding: inherit;
  position: absolute;
  top: 0;
}
.center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.bottom {
  padding: inherit;
  position: absolute;
  bottom: 0;
}

.fixedTopRight {
  position: fixed;
  right: 1%;
  top: 1%;
  z-index: 1;
}

.vertical {
  vertical-align: middle;
}

/** STATES **/

.disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

.pointer {
  cursor: pointer;
}

/** SPECIFIC RULES **/

#pdfPreview>iframe {
  height: 50vh;
  width: 100%;
}

.contrast {
  background-color: transparent;
  color: white;
  transition: ease-in-out $fastest;
}
.contrast:hover {
  background-color: white;
  color: $lightPrimary;
}

.squared {
  border-radius: $radiusS;
  align-items: center;
  display: flex;
  justify-content: center;
  height: $sizeS;
  width: $sizeS;
}

.logo {
  height: 15vmin;
}







// Custom style calendar

ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: $lightPrimary;
  color: white;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: white;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: $lightPrimary;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: white;
}

.days li .active {
  padding: 0.5rem;
  background: $links;
  color: white !important;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}
